.container {
    background-color: lightblue;
    color: blue;
    border: 2px solid red;
}

.header {
    background-color: #2563eb;
    color: #ffffff;
}

.hero {
    background-color: rgb(30, 120, 75);
    color: rgb(255, 255, 255);
}

.light {
    background: hsl(200, 100%, 80%);
}

.mid {
    background: hsl(200, 100%, 50%);
}

.dark {
    background: hsl(200, 100%, 20%);
}

.btn {
    background: hwb(200 80% 20%);
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 20px;
}